<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Raspberrytor</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>Welcome to Raspberrytor.</h1>
        <h2>The one, awesome and only space from which you can manage all your raspberries.</h2>
        <form action="/raspberry/1" id="user-form">
            <img src="../img/raspberry1.jpg" alt="Image of raspberry 1 (on our right)" />
            <input type="submit" value="Connect to Raspberry 1" class="btn btn-primary">
        </form>
        <form action="/raspberry/2" method="get">
            <img src="../img/raspberry2.jpg" alt="Image of raspberry 2" />
            <input type="submit" value="Connect to Raspberry 2" class="btn btn-primary">
        </form>
        <form action="/raspberry/3" method="get">
            <img src="../img/raspberry3.jpg" alt="Image of raspberry 3" />
            <input type="submit" value="Connect to Raspberry 3 (main raspberry)" class="btn btn-primary">
        </form>
	<form action="/raspberry/4" method="get">
	    <img  src="../img/raspberry4.jpg" alt="Image of raspberry 4"  />
	    <input type="submit" value="Conntect to Raspberry 4 (on out left)" class="btn btn-primary">
	</form>
    </body>
</html>
