<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Raspberrytor</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <style>
            div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            form {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Raspberrytor.</h1>
        <h2>The one, awesome and only space from which you can manage all your raspberries.</h2>

        <!-- Raspberry 1 -->
        <div>
            <form action="/raspberry/1" id="user-form">
                <img src="./img/raspberry1.jpg" alt="Image of raspberry 1" style='width: 20%; min-width: 200px;' />
                <input type="submit" value="Connect to Raspberry 1" class="btn btn-primary">
            </form>
            <form action="/upload1" method="post" enctype="multipart/form-data">
                <input class="form-control-file" type="file" accept="image/*" name="raspberry1" >
                <input class="btn btn-warning" type="submit" value="upload">
            </form>
        </div>

        <!-- Raspberry 2 -->
        <!-- <form action="/raspberry/2" method="get">
            <img src="/img/raspberry2.jpg" alt="Image of raspberry 2" style='width: 20%; min-width: 200px;' />
            <input type="submit" value="Connect to Raspberry 2" class="btn btn-primary">
        </form>
        <form action="/upload2" method="post" enctype="multipart/form-data">
            <input class="form-control-file" type="file" accept="image/*" name="raspberry2" >
            <input class="btn mt-3" type="submit" value="upload">
        </form> -->

        <!-- Raspberry 3 -->
        <div>
            <form action="/raspberry/3" method="get">
                <img src="/img/raspberry3.jpg" alt="Image of raspberry 3" style='width: 20%; min-width: 200px;' />
                <input type="submit" value="Connect to Raspberry 3" class="btn btn-primary">
            </form>
            <form action="/upload3" method="post" enctype="multipart/form-data">
                <input class="form-control-file" type="file" accept="image/*" name="raspberry3" >
                <input class="btn btn-warning" type="submit" value="upload">
            </form>
        </div>

        <!-- Raspberry 4 -->
        <div>
            <form action="/raspberry/4" method="get">
                <img  src="/img/raspberry4.jpg" alt="Image of raspberry 4" style='width: 20%; min-width: 200px;' />
                <input type="submit" value="Connect to Raspberry 4" class="btn btn-primary">
            </form>
            <form action="/upload4" method="post" enctype="multipart/form-data">
                <input class="form-control-file" type="file" accept="image/*" name="raspberry4" >
                <input class="btn btn-warning" type="submit" value="upload">
            </form>
        </div>

        <!-- Raspberry 5 -->
        <div>
            <form action="/raspberry/5" method="get">
                <img  src="/img/raspberry5.jpg" alt="Image of raspberry 5" style='width: 20%; min-width: 200px;' />
                <input type="submit" value="Connect to Raspberry 5" class="btn btn-primary">
            </form>
            <form action="/upload5" method="post" enctype="multipart/form-data">
                <input class="form-control-file" type="file" accept="image/*" name="raspberry5" >
                <input class="btn btn-warning" type="submit" value="upload">
            </form>
        </div>

        <!-- Raspberry 6 -->
        <div>
            <form action="/raspberry/6" method="get">
                <img  src="/img/raspberry6.jpg" alt="Image of raspberry 6" style='width: 20%; min-width: 200px;' />
                <input type="submit" value="Connect to Raspberry 6" class="btn btn-primary">
            </form>
            <form action="/upload6" method="post" enctype="multipart/form-data">
                <input class="form-control-file" type="file" accept="image/*" name="raspberry6" >
                <input class="btn btn-warning" type="submit" value="upload">
            </form>
        </div>

        <!-- Raspberry 7 -->
        <!-- <form action="/raspberry/7" method="get">
	        <img  src="/img/raspberry7.jpg" alt="Image of raspberry 7" style='width: 20%; min-width: 200px;' />
	        <input type="submit" value="Connect to Raspberry 7 (2/3 new)" class="btn btn-primary">
        </form>
        <form action="/upload7" method="post" enctype="multipart/form-data">
            <input class="form-control-file" type="file" accept="image/*" name="raspberry7" >
            <input class="btn mt-3" type="submit" value="upload">
        </form> -->

        <!-- Raspberry 8 -->
        <!-- <form action="/raspberry/8" method="get">
	        <img  src="/img/raspberry8.jpg" alt="Image of raspberry 8" style='width: 20%; min-width: 200px;' />
	        <input type="submit" value="Connect to Raspberry 8 (3/3 new)" class="btn btn-primary">
        </form>
        <form action="/upload8" method="post" enctype="multipart/form-data">
            <input class="form-control-file" type="file" accept="image/*" name="raspberry8" >
            <input class="btn mt-3" type="submit" value="upload">
        </form> -->
    </body>
</html>
